<%= stylesheet_link_tag 'managerStyle' %>
<h1>
    <%= @organization.full_name %>
</h1>
<%= contextual_menu %>


<div class="resource">
  <ul>
	<% @documentList.each do |column| %>
		  <li class='<%= cycle ('odd', 'even') %>' >
		    <div class="photo_file_name"><%=column["photo_file_name"]%></div>
				<h2 class="name"><%=column["employee_id"]%></h2>
				<div class="category">(<%=column["personal_manager_category"]%>)</div>
				<div class="manager_id"><%=column["id"]%></div>
				<div class="photo_base64">
				  <img src="<%=column['photo_base64']%>" alt="" >
				</div>
		  </li>
		<% end %>
	</ul>
</div>
